.main-page { padding: 2.8125rem 1.5625rem; height: 100%; }
.main-page__inner { padding: 1.25rem; display: flex; flex-direction: column; justify-content: space-between; align-content: center; position: relative; height: 100%; background: rgba(242, 237, 237, 0.54);  border-radius: 1.25rem; }
.main-page__close { padding: 0.3125rem; display: block; height: 1.5625rem; width: 1.5625rem; display: flex; align-items: center; justify-content: center; font-size: 0.8rem; position: absolute; right: 12px; top: 12px; text-decoration: none; color: #000000; border-radius: 50%; background: #C4C4C4; }
.main-page__logo { margin: 4.0625rem auto 0; width: 260px; display: block; }
.main-page__user { text-align: center;}
.main-page__user img { margin: 0 auto 0.9375rem; width: 5.9375rem; }
.main-page__user h2 { margin-bottom: 0.3125rem; font-size: 1.0625rem; font-weight: 700; }
.main-page__user p { font-size: 0.625rem; }
.main-page__quote { padding: 2.1875rem 2.1875rem 22px; border-radius: 12px; text-align: center; background: #C4C4C4; }
.main-page__quote h3 { margin-bottom: 1.25rem; font-size: 1.0625rem; }

/* Tablet */
@media only screen and (min-width: 767px) {

}

/* Desktop */
@media only screen and (min-width: 991px) {
    .main-page { padding: 20px; }
    .main-page__inner { max-width: 1080px; margin: 0 auto; border-radius: 2rem; overflow: auto; background: #F8F6F6; }
    .main-page__close { height: 2.1rem; width: 2.1rem; font-size: 0.9rem; right: 1rem; top: 1rem; }
    .main-page__logo { margin: 0.8rem auto 2.5rem; width: 360px; }
    .main-page__user img { width: 5rem; }
    .main-page__user h2 { font-size: 1.25rem; margin-bottom: 5px; }
    .main-page__user p { font-size: 0.85rem; margin-bottom: 30px; }
    .main-page__quote { margin: 0 auto; width: 540px; padding: 30px 110px 35px; border-radius: 1.25rem; }
    .main-page__quote h3 { margin-bottom: 1.1rem; font-size: 0.85rem; }
}

